<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.3.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <script src="../Scripts/angular.min.js"></script>
    <script src="../Scripts/MyScripts/Module.js"></script>
    <script src="../Scripts/MyScripts/LoginLogic.js"></script>
</head>
<body  ng-app="appmodule" ng-controller="logincontroller">
    <h1>Admin Portal</h1>
                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <td>UserName:</td>
                        <td>
                            <input type="text" class="form-control"
                                   ng-model="userLoginUserName" />
                        </td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>
                            <input type="password"
                                   class="form-control"
                                   ng-model="userLoginPassword" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" value="Login" class="form-control btn btn-success"
                                   ng-click="login()" />
                        </td>
                    </tr>
                </table>

    <div> </div>

   
</body>
</html>