@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="../Scripts/jquery-3.3.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
</head>
<body>
        <div class="row">
            Create
        </div>
        <div class="row">
            Read
        </div>
        <div class="row">
            Update
        </div>
        <div class="row">
            Delete
        </div>
  
</body>
</html>
